@font-face {
  font-family: "ALS Hauss";
  src: url("../fonts/ALS-Hauss/ALSHauss-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "ALS Hauss";
  src: url("../fonts/ALS-Hauss/ALSHauss-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "ALS Hauss";
  src: url("../fonts/ALS-Hauss/ALSHauss-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-SemiBold.ttf");
  font-weight: 600;
}