h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  outline: none;
  padding: 0;
  margin: 0;
}

button:focus {
  outline: none;
}

.btn-plain {
  background: transparent;
  border: none;
}

.icon {
  display: inline-block;
  flex-shrink: 0;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-size: contain!important;
}
